node_modules
dist
tmp
.tmp
out-tsc
.nx/cache
.nx/workspace-data
.eslintcache
.DS_Store
*.local
.env
.env.*
!.env.example
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
*.tsbuildinfo
coverage
todos.json
.idea
prompt
.codex
