import {formatFiles, Tree} from '@nx/devkit';
import {normalizeOptions} from './lib/normalize-options.ts';
import {<%= className %>GeneratorSchema} from './schema.ts';

export default async function <%= propertyName %>Generator(
  tree: Tree,
  schema: <%= className %>GeneratorSchema,
) {
  const options = normalizeOptions(tree, schema);

  // TODO: implement generator logic

  await formatFiles(tree);
}
